
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('navbar') %>
    <% if (user) { %>
        <p>Welcome <%= user.firstname %></p>
    <% } %>
    <% messages.forEach(message => { %> 
        <div>
            <h2><%= message.title %></h2>
            <p><%= message.content %></p>
            <% if(message.firstname) { %>
                <p><%= message.firstname %></p>
            <% } %>
            <%= message.timestamp %>
            <button type="text" class="delete" data-id="<%= message.id %>">Delete</button>
        </div>
    <% }) %>
    <script>
        const deleteBtns = document.querySelectorAll('.delete')
        for(let deleteBtn of deleteBtns) {
            deleteBtn.addEventListener('click', async (event) => {
                const id = event.currentTarget.getAttribute('data-id')
                const res = await fetch(`/delete/${id}`, { method: 'POST' })
                event.currentTarget.closest('div').remove()
            })
        }
    </script>
</body>
</html>