
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('navbar') %>
    <% if (user) { %>
        <p>Welcome <%= user.firstname %></p>
    <% } %>
    <% messages.forEach(message => { %> 
        <div>
            <h2><%= message.title %></h2>
            <p><%= message.content %></p>
            <% if(message.firstname) { %>
                <p><%= message.firstname %></p>
            <% } %>
            <%= message.timestamp %>
        </div>
    <% }) %>
</body>
</html>