
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <%- include('navbar') %>
    <% if (user) { %>
        <p>Welcome <%= user.firstname %></p>
    <% } %>
    <% messages.forEach(message => { %> 
        <div class="messageContainer">
            <h2><%= message.title %></h2>
            <p><%= message.content %></p>
            <% if(message.firstname) { %>
                <p><%= message.firstname %></p>
            <% } %>
            <%= message.timestamp %>
            <% if(user) { %>
                <% if(user.isAdmin) { %>
                    <button type="text" class="delete" data-id="<%= message.message_id %>">Delete</button>
                <% } %>
            <% } %>
        </div>
    <% }) %>
    <script>
        const deleteBtns = document.querySelectorAll('.delete')
        for(let deleteBtn of deleteBtns) {
            deleteBtn.addEventListener('click', async (event) => {
                const id = event.currentTarget.getAttribute('data-id')
                const target = event.currentTarget
                const res = await fetch(`/delete/${id}`, { method: 'POST' })
                if(res.status === 200) {
                    target.closest('div').remove()
                }
            })
        }
    </script>
</body>
</html>